<app-nav-bar *ngIf="!notFound" title="{{ game.name }}"></app-nav-bar>
<main *ngIf="!notFound" role="main" class="container">
  <img [src]="game.box.large">
  <div class="legenda">
    <h2>{{ game.name }}</h2>
    <p>{{ game.viewers }} visualizações</p>
    <p>{{ game.channels }} canais ao vivo</p>
    <p>{{ game.popularity }} popularidade</p>
  </div>
</main>

<app-nav-bar *ngIf="notFound" title="Game Not Found"></app-nav-bar>
<main *ngIf="notFound" role="main" class="container">
  <img src="/assets/404.jpg">
  <div class="legenda">
    <h2>Game not found</h2>
  </div>
</main>
