#gameList {
  padding-bottom: 50px;
  top: 3.3rem;
}

.game-list-item {
  margin-bottom: 15px;
  overflow: hidden;
}

.go-top {
  background-color: transparent;
  border: none;
  color: #17a2b8;
  display: block;
  margin-top: 40px;
  outline: none;
  width: 100%;
}

.loader {
  background-color: #FFF;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 99999;

  h2 {
    color: #CCC;
    font-size: 1.5rem;
    margin-top: 20px;
    text-transform: uppercase;
  }

  img {
    max-width: 100px;
    width: 15%;
  }

 .content {
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
}

.loader-games {
  display: block;
  clear: both;
  padding: 100px 0;
  text-align: center;
  width: 100%;

  img {
    width: 38px;
  }
}
